In [1]:
from astropy.coordinates import SkyCoord
import astropy.units as u
from IPython.display import display, HTML
import pandas as pd
import numpy as np

# import observations of selected objects outputted midway from sorcha
obs_df = pd.read_csv('./observations.csv')
obs_df = obs_df.sort_values(by=['ssObjectId'])
obs_df = obs_df.reset_index(drop=True)
obs_df['ssObjectId'] = obs_df['ssObjectId'].astype(str)


# convert to record array for sorcha compatability
nameLen = obs_df['ssObjectId'].str.len().max()
obsv = obs_df.to_records(
    index=False,
    column_dtypes=dict(ssObjectId=f'a{nameLen}', diaSourceId='u8', midPointTai='f8', ra='f8', decl='f8')
)

# split record array by object
i = np.argsort(obsv['ssObjectId'], kind='stable')
ssObjects, idx = np.unique(obsv['ssObjectId'][i], return_index=True)
objSplits = np.split(i, idx[1:])

tracklets = []
a=0
no = 0

# select one object at a time to see if it gets linked
for a in range(len(ssObjects)):
    testdf = obs_df.loc[objSplits[a],:]
    testdf = testdf.sort_values(by=['midPointTai'])
    # display(HTML(testdf.to_html()))

    # split by each unique mjd date of observation and put into nights
    splits = np.split(testdf['midPointTai'].values, np.where(np.abs(np.diff(testdf['midPointTai'].values)) >= 0.5)[0] + 1)
    splitra = np.split(testdf['ra'].values, np.where(np.abs(np.diff(testdf['midPointTai'].values)) >= 0.5)[0] + 1)
    splitdec = np.split(testdf['decl'].values, np.where(np.abs(np.diff(testdf['midPointTai'].values)) >= 0.5)[0] + 1)
    ras = [list(x) for x in splitra if len(x) > 1]
    decs = [list(x) for x in splitdec if len(x) > 1]
    nights = [list(x) for x in splits if len(x) > 1]
    obspernight = [len(ns) for ns in nights]


    # loop over each night and test for tracklets
    for n, night in enumerate(nights):
        if obspernight[n] < 2:
            pass
        else:
            for i in np.arange(len(night)):
                for j in np.arange(len(night)):
                    if j <= i:
                        pass
                    else:
                        diff = night[j] - night[i]
                        if diff > 0 and diff < 90/(60*24):
                            coord1 = SkyCoord([ras[n][i]], [decs[n][i]], unit=u.deg) 
                            coord2 = SkyCoord([ras[n][j]], [decs[n][j]], unit=u.deg)
                            sep = coord1.separation(coord2).arcsecond
                            if sep > 0.5:
                                tracklet = dict(
                                    no=no,
                                    ssObjectId=ssObjects[a],
                                    ra1=ras[n][i],
                                    dec1=decs[n][i],
                                    ra2=ras[n][j],
                                    dec2=decs[n][j],
                                    mjd1=night[i],
                                    mjd2=night[j]
                                )
                                tracklets.append(tracklet)
                                no += 1

linkdf = pd.DataFrame(tracklets)

nameLen = linkdf['ssObjectId'].str.len().max()
links = linkdf.to_records(
    index=False,
    column_dtypes=dict(no='f8', ssObjectId=f'a{nameLen}', ra1='f8', dec1='f8', ra2='f8', dec2='f8', mjd1='f8', mjd2='f8')
)

# split record array by object
i = np.argsort(links['ssObjectId'], kind='stable')
ssObjects, idx = np.unique(links['ssObjectId'][i], return_index=True)
objSplits = np.split(i, idx[1:])

# manually check which tracklet pairs are within 15 days of each other
for a in range(len(ssObjects)):
    testdf = linkdf.loc[objSplits[a],:]
    testdf = testdf.sort_values(by=['mjd1'])
    # testdf.to_csv(f'/Users/josephmurtagh/Desktop/{ssObjects[a]}.csv', index=False)
    display(HTML(testdf.to_html()))
    for n, i in enumerate(np.arange(len(testdf))):
        for m, j in enumerate(np.arange(len(testdf))):
            if j <= i: # ensure we're not linking self with self or self with temporally past tracklets
                pass
            else:
                diff = testdf.iloc[j,:]['mjd2'] - testdf.iloc[i,:]['mjd1']
                if diff > 15: # if the difference is above 15 days, stop the checks and use mjds from before
                    idxs = np.arange(n, m)
                    if idxs.size != 0:
                        floors = [np.floor(x) for x in testdf.iloc[idxs,:]['mjd1']] # <-- makes sure that the tracklets are defined on seperate nights to avoid linking 3 tracklets on e.g. nights 1, 5.2, and 5.5
                        if len(np.unique(floors)) >= 3:
                            print('link between tracklet', testdf.iloc[i,:]['no'], testdf.iloc[i,:]['mjd1'], 'to tracklet', testdf.iloc[j-1,:]['no'], testdf.iloc[j-1,:]['mjd2'])
                    break

link between tracklet 0 60524.295583660896 to tracklet 4 60529.195743488555

link between tracklet 20 60236.203170757246 to tracklet 30 60250.25729704931
link between tracklet 21 60236.203170757246 to tracklet 30 60250.25729704931
link between tracklet 22 60241.2406725659 to tracklet 30 60250.25729704931
link between tracklet 23 60241.2406725659 to tracklet 30 60250.25729704931
link between tracklet 24 60241.24663784267 to tracklet 30 60250.25729704931
link between tracklet 25 60249.16220389849 to tracklet 32 60261.24630923874
link between tracklet 26 60249.16220389849 to tracklet 32 60261.24630923874
link between tracklet 27 60249.162649768885 to tracklet 32 60261.24630923874
link between tracklet 28 60249.162649768885 to tracklet 32 60261.24630923874
link between tracklet 29 60249.186617577536 to tracklet 32 60261.24630923874
link between tracklet 30 60250.246012177086 to tracklet 33 60264.25241530691
link between tracklet 31 60260.2247868456 to tracklet 33 60264.25241530691

link between tracklet 44 60227.3249477381 to tracklet 46 60241.22429084465

link between tracklet 54 60261.26957518382 to tracklet 58 60268.26481755462
link between tracklet 55 60267.21588879789 to tracklet 59 60280.17704897061
link between tracklet 56 60268.21871410435 to tracklet 63 60283.21855319268
link between tracklet 57 60268.21871410435 to tracklet 63 60283.21855319268
link between tracklet 58 60268.24266321104 to tracklet 63 60283.21855319268

link between tracklet 95 60432.242641181445 to tracklet 101 60443.30880202504
link between tracklet 94 60432.242641181445 to tracklet 101 60443.30880202504